@media (max-width: 767px) {
    .header{
        padding-left: 16px;
        padding-right: 16px;
        height: 700px;
        background-image:  url(./img/header__background2.svg), url(./img/header__background3.svg), url(./img/header__background4.svg), url(./img/header__background5.svg), url(./img/header__background6.svg), url(./img/header__background1.jpeg);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat ;
        background-position: top -80px right -37%, top 10% right 75%, top 15% left 12%, top 90% right 25%, top 95% right 10%, top 0% right 30%, top 40% right 20%, top 100% right 7%, top 70% right 12%, top 100% right 50px;
        background-size: 50%, 6%, 10%, 5%, 10%, auto, cover; 
        &__description{
            padding-bottom: 36px;
        }
        &__mobile{
            display: block;
        }
        &__button{
            display: flex;
            justify-content: center;
        }
}
button{
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
}
h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
}
h3{
    display: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.h3__mod{
    font-weight: 700;
}
.about{
    padding-left: 16px;
    padding-right: 16px;
    &__description{
        padding-top: 48px;
        padding-bottom: 48px;
    }
    &__text{
        display: none;
    }
    &__text_mobile{
        display: block;
        color: rgb(255, 255, 255);
        text-align: left;
    }
}
.items{
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    &__number{
        display: none;
    }
    &__instruction{
        display: block;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
      }
    &__description{
        gap: 16px;
        padding: 29px;
    }
    &__card{
        height: 569px;
        &_big{
            height: 647px;
        }
    }
    &__button{
        display: block;
      }
}
}