@media (max-width: 767px) {
    .header{
        padding-left: 16px;
        padding-right: 16px;
        height: 700px;
        background-image:  url(./img/header__background2.svg), url(./img/header__background3.svg), url(./img/header__background4.svg), url(./img/header__background5.svg), url(./img/header__background6.svg), url(./img/header__background1.jpeg);
        background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat ;
        background-position: top -72px right -79px, top 64px right 258px, top 98px left 39px, top 557px right 81px, top 581px right 30px, top 0% right 30%, top 40% right 20%, top 100% right 7%, top 70% right 12%, top 100% right 50px;
        background-size: 60%, 6%, 9%, 5%, 10%, auto, cover;
        &__description{
            padding-top: 148px;
            padding-bottom: 36px;
        }
        &__mobile{
            display: block;
        }
        &__button{
            display: flex;
            justify-content: center;
        }
}
button{
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
}
h1{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
}
h3{
    display: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
.h3__mod{
    font-weight: 700;
}
.about{
    display: none;
    padding-left: 16px;
    padding-right: 16px;
    &__description{
        padding-top: 48px;
        padding-bottom: 48px;
    }
    &__text{
        display: none;
    }
    &__text_mobile{
        display: block;
        color: rgb(255, 255, 255);
        text-align: left;
    }
}
.items{
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    &__number{
        display: none;
    }
    &__instruction{
        display: block;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
      }
    &__description{
        gap: 16px;
        padding: 29px;
    }
    &__card{
        height: 569px;
        &_big{
            height: 647px;
        }
    }
    &__button{
        display: block;
      }
}
.mini{
    padding-top: 48px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 16px;
    padding-right: 16px;
    background-image: url(./img/about__background4.jpeg);
    background-repeat: repeat;
    background-size: contain;
    &__description{
        padding-top: 48px;
        padding-bottom: 48px;
    }
    &__text{
        text-align: left;
        grid-column: span 4;
        display: block;
        padding-bottom: 48px;
    }
    &__text_mobile{
        display: block;
        color: rgb(255, 255, 255);
        text-align: left;
    } 
    &__number{
        display: none;
    }
    &__instruction{
        width: 90%;
        display: block;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        &_3{
            width: 99%; 
        }
        &_6{
            width: 92%; 
        }
      }
    &__description{
        width: 284.93px;
        gap: 16px;
        padding: 29px;
        padding-bottom: 32px;
        &_6{
            padding-left: 10px;
            width: 260px;
            padding-bottom: 20px;
            gap: 20px;
        }
    }
    &__card{
        border-radius: 27px;
        height: 528.63px;
        margin-bottom: 24px;
        &_big{
            height: 528.63px + 78px;
        }
        &_medium{
            height: 528.63px + 39px;
        }
        &_5{
            height: 528.63px + 39px;
        }

    }
    &__button{
        margin-top: 16px;
        display: block;
        &_6{
            margin-top: 10px;
        }
      }
    &__items{
        display: block;
        grid-column: span 4;
        padding-bottom: 24px;
    }
    &__img{
        width: 100%;
        height: 528.63px - 243.7px;    
    }
    &__card-container{
        border-radius: 27px;
        flex-direction: column;
        height: 528.63px;
        align-items: center;
        justify-content: normal;
        &_big{
            height: 528.63px + 78px;
        }
        &_medium{
            height: 528.63px + 39px;
        }
        &_5{
            height: 528.63px + 39px;
        }
        &_6{
            height: 627px;
        }
    }
    &__title{
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
    }
}
.footer{
    &__title{
        display: block;
        font-weight: 600;
        color: rgb(0, 0, 0);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
    }
}
}