* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

h2 {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

h3 {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

h4 {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}

button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  transition: all 1s;
  transform: none;
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}

button:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transform: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  padding-left: 120px;
  padding-right: 120px;
  height: 800px;
  background-image: url(./img/header__background2.svg), url(./img/header__background3.svg), url(./img/header__background4.svg), url(./img/header__background5.svg), url(./img/header__background6.svg), url(./img/header__background7.svg), url(./img/header__background8.svg), url(./img/header__background9.svg), url(./img/header__background10.svg), url(./img/header__background11.svg), url(./img/header__background1.jpeg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat;
  background-position: top -250px right -50%, top 10% right 90%, top 15% left 5%, top 80% right 30%, top 90% right 20%, top 0% right 30%, top 40% right 20%, top 100% right 7%, top 70% right 12%, top 100% right 50px;
  background-size: 50%, auto, auto, auto, auto, auto, auto, 1.5%, auto, auto, cover;
}
.header__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 196px;
  padding-bottom: 48px;
}

.about {
  padding-left: 120px;
  padding-right: 120px;
  background-image: url(./img/about__background1.svg), url(./img/about__background2.svg), url(./img/about__background3.svg), url(./img/about__background4.jpeg);
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-size: auto, auto, auto, contain;
  background-position: top 54% right 100%, top 59% right 97%, top 10% right -15%, center;
}
.about__text {
  color: rgb(255, 255, 255);
}
.about__description {
  padding-bottom: 72px;
  padding-top: 94px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.items {
  display: grid;
  gap: 32px;
  padding-bottom: 50px;
  grid-template-columns: repeat(12, 1fr);
}
.items__card {
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: white;
  grid-column: span 4;
  height: 473px;
}
.items__card_medium {
  height: 512px;
}
.items__card_big {
  height: 551px;
}
.items__card_5 {
  height: 551px;
}
.items__img {
  width: 100%;
  height: 314px;
}
.items__img:hover {
  transition: 1s;
  transform: scale(1.2);
}
.items__description {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 32px;
  padding-bottom: 36px;
}/*# sourceMappingURL=Gamesite.css.map */