* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
}

h2 {
  color: rgb(32, 32, 39);
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: left;
}

h3 {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

h4 {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
}

button {
  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  transition: all 1s;
  transform: none;
  width: 247px;
  height: 66px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
}

button:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transform: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  height: 800px;
  background-image: url(./img/header__background2.svg), url(./img/header__background3.svg), url(./img/header__background4.svg), url(./img/header__background5.svg), url(./img/header__background6.svg), url(./img/header__background7.svg), url(./img/header__background8.svg), url(./img/header__background9.svg), url(./img/header__background10.svg), url(./img/header__background11.svg), url(./img/header__background1.jpeg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat;
  background-position: top -250px right -50%, top 10% right 90%, top 15% left 5%, top 80% right 30%, top 90% right 20%, top 0% right 30%, top 40% right 20%, top 100% right 7%, top 70% right 12%, top 100% right 50px;
  background-size: 50%, auto, auto, auto, auto, auto, auto, 1.5%, auto, auto, cover;
}
.header__description {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 196px;
  padding-bottom: 48px;
}
.header__mobile {
  display: none;
}
.header__bold-words {
  font-weight: 700;
}

.about {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  background-image: url(./img/about__background1.svg), url(./img/about__background2.svg), url(./img/about__background3.svg), url(./img/about__background4.jpeg);
  background-repeat: no-repeat, no-repeat, no-repeat, repeat;
  background-size: auto, auto, auto, contain;
  background-position: top 54% right 100%, top 59% right 97%, top 10% right -15%, center;
}
.about__text {
  color: rgb(255, 255, 255);
}
.about__text_mobile {
  display: none;
  color: rgb(255, 255, 255);
}
.about__description {
  padding-bottom: 72px;
  padding-top: 94px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.items {
  overflow: hidden;
  display: grid;
  gap: 32px;
  padding-bottom: 50px;
  grid-template-columns: repeat(12, 1fr);
}
.items__card {
  box-sizing: border-box;
  border-radius: 30px;
  background-color: white;
  grid-column: span 4;
  height: 473px;
}
.items__card_medium {
  height: 512px;
}
.items__card_big {
  height: 551px;
}
.items__card_5 {
  height: 551px;
}
.items__card-container {
  box-sizing: border-box;
  border-radius: 30px;
  background-color: white;
  grid-column: span 4;
  height: 473px;
}
.items__card-container_medium {
  height: 512px;
}
.items__card-container_big {
  height: 551px;
}
.items__card-container_5 {
  height: 551px;
}
.items__card-container:hover {
  opacity: 1;
  position: relative;
  transition: 1s;
  transform: scale(1.03);
}
.items__img {
  width: 100%;
  height: 314px;
}
.items__description {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 32px;
  padding-bottom: 36px;
}
.items__number {
  color: rgb(32, 32, 39);
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  letter-spacing: 0px;
  box-sizing: border-box;
  border-radius: 52.58px;
  background: rgb(247, 247, 247);
  width: 107px;
  height: 36px;
  text-align: center;
  justify-content: center;
  padding-top: 9px;
}
.items__instruction {
  display: none;
}
.items__button {
  display: none;
}

.card-link:hover {
  transform: scale(1);
}

.mini {
  height: 3500px;
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
  background-image: url(./img/about__background1.svg), url(./img/about__background2.svg), url(./img/about__background1.svg), url(./img/about__background2.svg), url(./img/about__background4.jpeg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
  background-size: auto, auto, auto, auto, contain;
  background-position: top 2% right 13%, top 3% right 10%, top 98% right 13%, top 97% right 8%, center;
}
.mini__text {
  color: rgb(255, 255, 255);
  padding-bottom: 72px;
}
.mini__items {
  display: grid;
  gap: 32px;
  padding-bottom: 50px;
  grid-template-columns: repeat(12, 1fr);
}
.mini__card {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  border-radius: 55px;
  background-color: white;
  grid-column: span 12;
  height: 500px;
  width: 100%;
}
.mini__card_reverse {
  flex-direction: row;
}
.mini__card-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  border-radius: 55px;
  background-color: white;
  grid-column: span 12;
  height: 500px;
  width: 100%;
}
.mini__card-container_medium {
  height: 512px;
}
.mini__card-container_big {
  height: 500px;
}
.mini__card-container_5 {
  height: 500px;
}
.mini__card-container_reverse {
  flex-direction: row;
}
.mini__card-container:hover {
  opacity: 1;
  position: relative;
  transition: 1s;
  transform: scale(1.03);
}
.mini__card:hover {
  opacity: 1;
  position: relative;
  transition: 1s;
  transform: scale(1.01);
}
.mini__img {
  height: 500px;
}
.mini__description {
  padding-top: 48px;
  padding-left: 48px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 50%;
}
.mini__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}
.mini__instruction {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
}

.footer {
  height: 150px;
  background-image: url(./img/footer_bacground.jpeg);
  background-size: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 767px) {
  .header {
    padding-left: 16px;
    padding-right: 16px;
    height: 700px;
    background-image: url(./img/header__background2.svg), url(./img/header__background3.svg), url(./img/header__background4.svg), url(./img/header__background5.svg), url(./img/header__background6.svg), url(./img/header__background1.jpeg);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, repeat;
    background-position: top -80px right -37%, top 10% right 75%, top 15% left 12%, top 90% right 25%, top 95% right 10%, top 0% right 30%, top 40% right 20%, top 100% right 7%, top 70% right 12%, top 100% right 50px;
    background-size: 50%, 6%, 10%, 5%, 10%, auto, cover;
  }
  .header__description {
    padding-top: 148px;
    padding-bottom: 36px;
  }
  .header__mobile {
    display: block;
  }
  .header__button {
    display: flex;
    justify-content: center;
  }
  button {
    width: 285px;
    height: 55px;
    font-size: 16px;
    font-weight: 600;
    line-height: 141.69%;
  }
  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
  }
  h3 {
    display: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .h3__mod {
    font-weight: 700;
  }
  .about {
    display: none;
    padding-left: 16px;
    padding-right: 16px;
  }
  .about__description {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .about__text {
    display: none;
  }
  .about__text_mobile {
    display: block;
    color: rgb(255, 255, 255);
    text-align: left;
  }
  .items {
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
  .items__number {
    display: none;
  }
  .items__instruction {
    display: block;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  .items__description {
    gap: 16px;
    padding: 29px;
  }
  .items__card {
    height: 569px;
  }
  .items__card_big {
    height: 647px;
  }
  .items__button {
    display: block;
  }
  .mini {
    padding-top: 48px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 16px;
    padding-right: 16px;
    background-image: url(./img/about__background4.jpeg);
    background-repeat: repeat;
    background-size: contain;
  }
  .mini__description {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mini__text {
    text-align: left;
    grid-column: span 4;
    display: block;
    padding-bottom: 48px;
  }
  .mini__text_mobile {
    display: block;
    color: rgb(255, 255, 255);
    text-align: left;
  }
  .mini__number {
    display: none;
  }
  .mini__instruction {
    width: 90%;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }
  .mini__description {
    width: 284.93px;
    gap: 16px;
    padding: 29px;
    padding-bottom: 32px;
  }
  .mini__card {
    border-radius: 27px;
    height: 528.63px;
    margin-bottom: 24px;
  }
  .mini__card_big {
    height: 606.63px;
  }
  .mini__card_medium {
    height: 567.63px;
  }
  .mini__card_5 {
    height: 567.63px;
  }
  .mini__button {
    margin-top: 16px;
    display: block;
  }
  .mini__items {
    display: block;
    grid-column: span 4;
    padding-bottom: 24px;
  }
  .mini__img {
    width: 100%;
    height: 284.93px;
  }
  .mini__card-container {
    border-radius: 27px;
    flex-direction: column;
    height: 528.63px;
    align-items: center;
    justify-content: normal;
  }
  .mini__card-container_big {
    height: 606.63px;
  }
  .mini__card-container_medium {
    height: 567.63px;
  }
  .mini__card-container_5 {
    height: 567.63px;
  }
  .mini__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
  }
  .footer__title {
    display: block;
    font-weight: 600;
  }
}/*# sourceMappingURL=Gamesite.css.map */